<!-- Use BreadCrumb.cshtml on all pages except the Home page -->
<!-- Breadcrumb Area Start Here -->
<div class="breadcrumb-area" style="background-image: url(/img/bg/promotion-1.jpg)">
    <div class="container text-center">
        <ol class="breadcrumb breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ /</a>
            </li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End Here -->