@{
    Layout = null;
}

@using PetStoreProject.ViewModels;
@model ChangePasswordViewModel;


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<style>
    .main_content_style {
        padding: 20px;
        background: var(--White);
        border-radius: 10px;
        box-shadow: 0px 4px 24px 2px rgba(20, 25, 38, 0.05);
    }

    .content_form_style {
        border-bottom-left-radius: 10px;
        border-start-start-radius: 10px;
        border-bottom-right-radius: 10px;
        background: ##f0f2f682;
        padding: 50px;
        font-size: 16px;
        position: relative;
    }

        .content_form_style input {
            font-size: 16px !important;
        }

    .input_style_form input[readonly] {
        background: none;
        opacity: 1;
        border: none;
    }

    .padding_t_b {
        padding: 10px 0px;
    }

    .title_name_style {
        padding-left: 30px;
    }

    .border_bottom {
        border-bottom: 1px solid !important;
    }

    .padding_l30 {
        padding-left: 30px;
    }

    .btn_submit {
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
    }

    .title_changePass {
        padding: 0px 0px 20px 0px;
    }

    .form_changePass {
        margin: auto;
    }

    .content_form_style {
        display: block;
    }

    #input-old-form, #input-new-form, #input-confirm-form {
        position: relative !important;
    }

    .show-btn-old {
        right: 15px;
        position: absolute;
        top: 10px;
        font-size: 17px;
    }

    .show-btn-new {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 17px;
    }

    .show-btn-confirm {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 17px;
    }

    .border_all {
        border: 1px solid black !important;
    }

    .btn_profile {
        border-start-start-radius: 15px;
        font-size: 18px;
        position: absolute;
        z-index: 1;
        top: -47px;
        right: 179px;
        padding: 10px;
    }

    .btn_changePassword {
        border-start-end-radius: 15px;
        font-size: 18px;
        position: absolute;
        top: -47px;
        z-index: 1;
        right: 0px;
        .btn_active_style:active

    {
        background: #f0f2f6;
        border: none;
        color: black;
    }

    .btn_click_change .active {
        background: #f0f2f6;
        border: none;
        color: black;
    }

    .link_style:hover {
        color: #ffff;
    }
</style>

<div id="notification" class="modal fade" role="dialog">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header" style="padding:0px!important; margin:auto!important">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100" id="title-noti"></h4>
            </div>
            <div class="modal-body">
                <p class="text-center" id="body-noti"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<form id="changePasswordForm">
    <input type="hidden" asp-for="Email" value="@Model.Email" />
    @if (Model.OldPassword != null)
    {
        <div class="form-group row padding_t_b">
            <label class="col-sm-4 col-form-label label_style" asp-for="OldPassword"><strong>Mật khẩu hiện tại: </strong></label>
            <div class="col-sm-8 input_style_form" id="input-old-form">
                <input type="password" class="form-control form_control_style border_all" id="OldPassword" asp-for="OldPassword" id="name" value="" placeholder="">
                <div class="btn show-btn-old" onclick="showOldPassword()">
                    <i class="bi bi-eye" id="eye-icon-old"></i>
                </div>
                <span class="text-danger" asp-validation-for="OldPassword"></span>
                @if (ViewBag.Message != null)
                {
                    <span class="text-danger">@ViewBag.Message</span>
                }
            </div>
        </div>
    }
    <div class="form-group row padding_t_b">
        <label class="col-sm-4 col-form-label label_style " asp-for="NewPassword"><strong>Mật khẩu mới: </strong></label>
        <div class="col-sm-8 input_style_form" id="input-new-form">
            <input type="password" class="form-control form_control_style border_all" id="NewPassword" asp-for="NewPassword" id="phone">
            <div class="btn show-btn-new" onclick="showNewPassword()">
                <i class="bi bi-eye" id="eye-icon-new"></i>
            </div>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
            @if (ViewBag.MessageNewPass != null)
            {
                <span class="text-danger">@ViewBag.MessageNewPass</span>
            }
        </div>
    </div>
    <div class="form-group row padding_t_b">
        <label class="col-sm-4 col-form-label label_style" asp-for="ConfirmPassword"><strong>Xác nhận mật khẩu mới: </strong></label>
        <div class="col-sm-8 input_style_form" id="input-confirm-form">
            <input type="password" class="form-control form_control_style border_all" id="ConfirmPassword" asp-for="ConfirmPassword" id="">
            <div class="btn show-btn-confirm" onclick="showConfirmPassword()">
                <i class="bi bi-eye" id="eye-icon-confirm"></i>
            </div>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group row padding_t_b" id="btn_submit_update">
        <button class="btn btn-secondary btn_submit" onclick="changePasswordClick()">Xác nhận thay đổi</button>
    </div>
</form>
<script>


    function showOldPassword() {
        var pass = document.getElementById("OldPassword");
        var icon = document.getElementById("eye-icon-old");
        if (pass.type === "password") {
            pass.type = "text";
            $('#eye-icon-old').removeClass('bi-eye').addClass('bi-eye-slash');
        } else {
            pass.type = "password";
            $('#eye-icon-old').removeClass('bi-eye-slash').addClass('bi-eye');
        }
    }

    function showNewPassword() {
        var pass = document.getElementById("NewPassword");
        var icon = document.getElementById("eye-icon-new");
        if (pass.type === "password") {
            pass.type = "text";
            $('#eye-icon-new').removeClass('bi-eye').addClass('bi-eye-slash');
        } else {
            pass.type = "password";
            $('#eye-icon-new').removeClass('bi-eye-slash').addClass('bi-eye');
        }
    }

    function showConfirmPassword() {
        var pass = document.getElementById("ConfirmPassword");
        var icon = document.getElementById("eye-icon-confirm");
        if (pass.type === "password") {
            pass.type = "text";
            $('#eye-icon-confirm').removeClass('bi-eye').addClass('bi-eye-slash');
        } else {
            pass.type = "password";
            $('#eye-icon-confirm').removeClass('bi-eye-slash').addClass('bi-eye');
        }
    }

</script>