@model PetStoreProject.ViewModels.ChangePasswordViewModel;

@{
    Layout = null;
}

<div class="card">
    <div class="card-header">Thay Đổi Mật Khẩu</div>
    <div class="card-body align-content-center">
        <form id="formChangePassword">
            <input type="hidden" asp-for="Email" value="@Model.Email" />
            @if (Model.OldPassword != null)
            {
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <label class="label-input mb-1" asp-for="OldPassword">Mật Khẩu Hiện Tại</label>
                        <input class="form-control" asp-for="OldPassword" id="OldPassword" placeholder="Nhập mật khẩu hiện tại của bạn" required>
                        <div class="btn show-btn" onclick="showOldPassword()">
                            <i class="fa-regular fa-eye-slash" id="eye-icon-old"></i>
                        </div>
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                        @if (ViewBag.Message!=null){
                            <span class="text-danger">@ViewBag.Message</span>
                        }
                    </div>
                </div>
            }
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <label class="label-input mb-1" asp-for="NewPassword">Mật Khẩu Mới</label>
                    <input class="form-control" asp-for="NewPassword" id="NewPassword" placeholder="Nhập mật khẩu mới">
                    <div class="btn show-btn" onclick="showNewPassword()">
                        <i class="fa-regular fa-eye-slash" id="eye-icon-new"></i>
                    </div>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <label class="label-input mb-1" asp-for="ConfirmPassword">Xác Nhận Mật Khẩu Mới</label>
                    <input class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="Nhập lại mật khẩu mới">
                    <div class="btn show-btn" onclick="showConfirmPassword()">
                        <i class="fa-regular fa-eye-slash" id="eye-icon-confirm"></i>
                    </div>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <!-- Save changes button-->
            <div class="row justify-content-center">
                <input type="submit" class="login-btn col-md-3 rounded-1 mt-3 mb-3" value="Lưu Thay Đổi" />
            </div>
        </form>
    </div>
</div>
