@{
    ViewData["Title"] = "Đăng Nhập";
}

<!-- Forgot Password Page Start Here -->
<div class="login_wrapper adp_top adp_bottom">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">

                <div class="login-form">
                    <h3 class="login-header mb-3">Đặt Lại Mật Khẩu</h3>
                    <div class="px-lg-4 mb-md-4">
                        <p class="text-center">Nhập địa chỉ email tài khoản của bạn để đặt lại mật khẩu.</p>
                    </div>
                    @if (ViewBag.ErrorMess != null)
                    {
                        <div class="px-sm-5 mb-sm-4">
                            <div class="alert alert-danger alert-dismissible fade show rounded-0">
                                <span>@ViewBag.ErrorMess</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        </div>
                    }
                    @if (ViewBag.SuccessMess != null)
                    {
                        <div class="px-sm-5 mb-sm-4">
                            <div class="alert alert-success alert-dismissible fade show rounded-0">
                                <span>@ViewBag.SuccessMess</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        </div>
                    }
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="px-sm-5">
                            <div class="form-group row justify-content-center">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-8 ps-sm-1">
                                    <input type="email" class="form-control" name="Email" value="@ViewBag.Email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="login-details text-center mt-4">
                                <button type="submit" class="login-btn">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Password Page End Here -->