@model PetStoreProject.ViewModels.ResetPasswordViewModel;
@{
    ViewData["Title"] = "Đặt Lại Mật Khẩu";
}

@section HeadOptional {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<!-- Reset Password Start Here -->
<div class="login_wrapper adp_top adp_bottom">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">

                <div class="login-form">
                    <h3 class="login-header">Đặt Lại Mật Khẩu Tài Khoản</h3>
                    <form asp-controller="Account" asp-action="ResetPassword" method="post">
                        <div class="">
                            <input asp-for="Email" type="hidden" class="form-control">
                            <div class="form-group row mt-4">
                                <label asp-for="Password" class="col-sm-4 col-form-label">Mật Khẩu</label>
                                <div class="col-sm-8 ps-sm-1">
                                    <input asp-for="Password" class="form-control" id="password" placeholder="Mật Khẩu">
                                    <div class="btn show-btn" onclick="showPassword()">
                                        <i class="fa-regular fa-eye-slash" id="eye-icon"></i>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <label asp-for="ConfirmPassword" class="col-sm-4 col-form-label">Xác Nhận Mật Khẩu</label>
                                <div class="col-sm-8 ps-sm-1">
                                    <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" placeholder="Xác Nhận Mật Khẩu">
                                    <div class="btn show-btn" onclick="showConfirmPassword()">
                                        <i class="fa-regular fa-eye-slash" id="eye-icon-confirm"></i>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="login-details text-center mt-4">
                                <button type="submit" class="login-btn">Đặt Lại Mật Khẩu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reset Password End Here -->
@section ScriptOptional {
    <script>
        function showPassword() {
            var pass = document.getElementById("password");
            var icon = document.getElementById("eye-icon");
            if (pass.type === "password") {
                pass.type = "text";
                icon.classList.replace("fa-eye-slash", "fa-eye");
            } else {
                pass.type = "password";
                icon.classList.replace("fa-eye", "fa-eye-slash");
            }
        }

        function showConfirmPassword() {
            var pass = document.getElementById("confirmPassword");
            var icon = document.getElementById("eye-icon-confirm");
            if (pass.type === "password") {
                pass.type = "text";
                icon.classList.replace("fa-eye-slash", "fa-eye");
            } else {
                pass.type = "password";
                icon.classList.replace("fa-eye", "fa-eye-slash");
            }
        }
    </script>
}