@{
    ViewData["Title"] = "Giới Thiệu";
}

<!-- About Us Area Start -->
<div class="skill-area adp_top adp_bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_image">
                    <img src="img/banner/banner_2.jpg" alt="about-image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="about-title">
                        <h3>Sứ Mệnh Xanh - Nâng Tầm Giá Trị Tự Nhiên</h3>
                    </div>
                    <!-- Section Title End -->
                    <p>Chúng tôi không chỉ cung cấp sản phẩm, chúng tôi mang đến một phong cách sống bền vững. Các sản phẩm từ mo cau của chúng tôi là sự kết hợp hoàn hảo giữa thiên nhiên và tiện ích, giúp thay thế nhựa dùng một lần, bảo vệ môi trường.</p>
                    <p>Với quy trình sản xuất thân thiện với môi trường, không hóa chất độc hại, mỗi chiếc đĩa, bát từ mo cau đều mang trong mình nét đẹp mộc mạc nhưng đầy tinh tế. Đó là lựa chọn hoàn hảo cho những ai yêu thiên nhiên và muốn tạo dựng thói quen tiêu dùng bền vững.</p>
                    <p>Hãy cùng chúng tôi kiến tạo một tương lai xanh hơn - nơi mà từng bữa ăn không chỉ ngon miệng mà còn góp phần bảo vệ hành tinh này.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Area End -->
<!-- Client Testimonial Area Start Here -->
<div class="testmonial-area adp_top adp_bottom" style="background:#fbfbfb; background-image:url(img/testmonial/testi_bg.jpg)">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-xl-12">
                <!-- Section Title Start Here -->
                <div class="section-title">
                    <span>#Khách Hàng Nói Gì?</span>
                    <h2>Trải Nghiệm Tuyệt Vời Từ Khách Hàng</h2>
                </div>
                <!-- Section Title End Here -->
            </div>
            <div class="col-xl-12">
                <!-- Testimonial Active Start Here -->
                <div class="testmonial-active">
                    <!-- Single Testimonial Start Here -->
                    <div class="single-testmonial">
                        <div class="testmonial-img">
                            <img src="~/img/team/1.jpg" alt="testmonial-img">
                        </div>
                        <div class="testmonial-content">
                            <h5>Vũ Minh Anh <span>Chủ Nhà Hàng Chay</span></h5>
                            <div class="product-rating">
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rate-blank"></i>
                            </div>
                            <h4>Giải Pháp Hoàn Hảo</h4>
                            <p>Sản phẩm mo cau này đã giúp nhà hàng chúng tôi cắt giảm đáng kể việc sử dụng nhựa. Chúng không chỉ thân thiện với môi trường mà còn đẹp mắt, sang trọng. Khách hàng rất thích thú khi trải nghiệm.</p>
                        </div>
                    </div>
                    <!-- Single Testimonial End Here -->

                    <div class="single-testmonial">
                        <div class="testmonial-img">
                            <img src="img/testmonial/02.png" alt="testmonial-img">
                        </div>
                        <div class="testmonial-content">
                            <h5>Ngọc Trâm <span>Người Tiêu Dùng</span></h5>
                            <div class="product-rating">
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                                <i class="icofont-ui-rating"></i>
                            </div>
                            <h4>Thực Sự Bền Vững</h4>
                            <p>Chất lượng sản phẩm vượt ngoài mong đợi! Đĩa và bát chắc chắn, chịu nhiệt tốt và không gây hại cho sức khỏe. Tôi sẽ tiếp tục sử dụng và giới thiệu đến bạn bè!</p>
                        </div>
                    </div>
                    <!-- Single Testimonial End Here -->
                </div>
                <!-- Testimonial Active End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Client Testimonial Area End Here -->
